<div class="h-75 mw-100 m-0 border-bottom messenger-box bg-body-secondary">
    <div class="p-4 rounded border mw-100 mb-1 bg-light">
        <p>Etienne<small>&nbsp;le 12/06 à 14h27</small></p>
        <p>Hello l'équipe ! Même souci qu'hier pour mon internet, je suis d'ores et déjà sur la route, mais il y a des gros bouchons ce matin. J'arrive au plus vite !</p>
    </div>
    <div class="p-4 rounded border mw-100 mb-1 bg-light">
        <p>Thomas<small>&nbsp;le 12/06 à 14h27</small></p>
        <p>Ok</p>
    </div>
    <div class="p-4 rounded border mw-100 mb-1 bg-light">
        <p>Hisseine<small>&nbsp;le 12/06 à 14h27</small></p>
        <p>Bonjour, noté.</p>
    </div>
    <div class="p-4 rounded border mw-100 mb-1 bg-light">
        <p>Patrice<small>&nbsp;le 12/06 à 14h27</small></p>
        <p>Coucou pas de souci Hisseine va commencer le cours 👍<br>
            bonjour la team coucou Hisseine<br>
            à propos, ils recherchent sur Pôle emploi env 60 dev .Net sur Nantes<br>
            une trentaine sur Rennes</p>
    </div>
    <div class="p-4 rounded border mw-100 mb-1 bg-light">
        <p>Hisseine<small>&nbsp;le 12/06 à 14h27</small></p>
        <p>Salut Patrice, merci de la confiance placée en moi, je préfère  le faire en chinois, comme ça, l'incompréhension sera totale. pas de questions posées 🤫 😆</p>
    </div>
    <div class="p-4 rounded border mw-100 mb-1 bg-light">
        <p>Patrice<small>&nbsp;le 12/06 à 14h27</small></p>
        <p>je serais ravis d'y assister 😅</p>
    </div>
    <div class="p-4 rounded border mw-100 mb-1 bg-light">
        <p>Hisseine<small>&nbsp;le 12/06 à 14h27</small></p>
        <p>Bon courage !</p>
    </div>
    <div class="p-4 rounded border mw-100 mb-1 bg-light">
        <p>Raphaël<small>&nbsp;le 12/06 à 14h27</small></p>
        <p>J'arrive au plus vite teams fait n'importe quoi</p>
    </div>
</div>